name: Create production promotion pull request
on:
  push:
    branches:
      - auto-sync-pr
jobs:
  productionPromotion:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: PG15
      - name: Reset promotion branch
        run: |
          git fetch origin auto-sync-pr
          git reset --hard origin/auto-sync-pr
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: apply-pr